<a href="https://colab.research.google.com/github/noitsneya/DSA-Roadmap/blob/main/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 - 10th October

In [ ]:
print("Hello World!")
#Comments are with hashtags!

Hello World!

indentation - VERY IMPORTANT
same number of spaces per block of code, otherwise it won't run

In [ ]:
if 5 > 2:
  print("5 is greater than 2.")

5 is greater than 2.

Python does not really have a syntax for multiline comments.

In [ ]:
"""
this is a multiline comment

Since Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code, and place your comment inside it

"""

print("Ignored!")

Ignored!

## Variables

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 3
x = 'Ball'

print(x)

Ball

To specify the type of variable, it can be done with **Casting**

In [ ]:
x = int(3)
y = str(3)
z = float(3)

print(x,y,z)

3 3 3.0

In [ ]:
# type() function can help get the type of a variable

x = 3

print(type(x))

<class 'int'>

##Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

A variable name cannot be any of the Python keywords.

Camel Case - myPythonVariable
Pascal Case - MyPythonVariable
Snake Case - my_python_variable

In [ ]:
x, y, z = 3, 4, 5 # for multiple values being assigned in one line
print(x)
print(y)
print(z)

3
4
5

In [ ]:
x = y = z = 3 # for one value being assigned to multiple variables
print(x)
print(y)
print(z)

3
3
3

##Unpacking

Python can help unpack a collection of values in a list, tuple, etc into variables

In [ ]:
#unpacking

fruits = ["apples", "oranges", "mangoes"] # this is a list

x,y,z = fruits
print(x)
print(y)
print(z)

apples
oranges
mangoes

In [ ]:
# If there are less variables to unpack from, you can use an asterix to collect the rest into a list
fruits = ["apples", "oranges", "mangoes", "POTATOES"]

x, y, *z = fruits
print(x)
print(y)
print(z)

apples
oranges
['mangoes', 'POTATOES']

In [ ]:
# If the asterix is on a variable in the middle of assigning, it sees the number of variables left and allocates elements into the list accordingly
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

#Day 2 - 11th October

##Global and Local Variables

Values created outside a function are called global variables

Values inside a function are local variables

In [ ]:
"""
x = 'awesome'

def aPrintFunction():
  x = 'Python is'
  print(x)

aPrintFunction()
print(x)

print(aPrintFunction() + x)

"""

"\nx = 'awesome'\n\ndef aPrintFunction():\n  x = 'Python is'\n  print(x) \n\naPrintFunction() \nprint(x)\n\nprint(aPrintFunction() + x)\n\n"

there is a difference between return and print - since im printing something, the function isn't returning anything so it returns None, therefore there's a type error - if we try again with a return value, it should work

In [ ]:
x = 'awesome'

def aPrintFunction():
  x = 'Python is'
  return x

print(aPrintFunction() + ' '+ x)

Python is awesome

if you want to create a global variable inside a function (where it is local), you need to add the **global** keyword

global [var name] you can't assign anything on the same line unfortunately

In [ ]:
x = 'awesome'

def aPrintFunction():
  global x
  x = 'Python is'
  return x


print(aPrintFunction() + x)

Python isPython is

In [ ]:
print('Hello', 'World')
# only string concatenation joins words +

Hello World

## Data Types

Python data types

text type: str (string)

numeric type: int (integer), float, complex (in python we use j not i)

sequence types: list, tuple, range

mapping type: dict (dictionary)

set types: set, frozenset

boolean type: bool

binary types: bytes, bytearray, memoryview

none type: NoneType

the type() function gives the type of any object

x = "Hello World"	str
x = 20	int
x = 20.5	float
x = 1j	complex
x = ["apple", "banana", "cherry"]	list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	None

difference between lists and tuples -

lists are mutable (can modify after its created)

tuples, however, are not. but tuples perform better and are faster because of their immutability and fixed sizes

methods: lists have many built in methods like append(), remove(), extend()

tuples only have a few like count(), index()

In [ ]:
aTuple = (1, 2, 3, 4, 4, 4)

aTuple.index(2)
aTuple.count(4) # number of times in tuple

"""
in an interactive Python environment (like a Python shell or Jupyter Notebook),
only the result of the last expression evaluated is displayed automatically.

When you run a Python script (a .py file), only output from the print()
statements or any exceptions will be shown in the console.
"""

1
3

'\nin an interactive Python environment (like a Python shell or Jupyter Notebook),\nonly the result of the last expression evaluated is displayed automatically.\n\nWhen you run a Python script (a .py file), only output from the print() \nstatements or any exceptions will be shown in the console.\n'

##Numbers


int - in python3, integers are of arbitrary precision, so they can grow as much as the memory allows, so there is no fixed upper limit

float - 68 bits - size, memory usage at 8 bytes

range of float is determined by C implementation - this follows the IEEE 754 standard for double-precision floating point numbers
Minimum Positive Float: Approximately
2.2250738585072014
×
1
0
−
308
2.2250738585072014×10
−308

Maximum Float: Approximately
1.7976931348623157
×
1
0
308
1.7976931348623157×10
308

special values-

float('inf')
float('-inf')
float('nan')



complex - represented by two float values

j

memory size - 16 bytes (8 bytes on each float) plus some overhead

note: you cannot convert complex numbers into another number type

In [ ]:
# learn the random module to have a random() function
import random

print(random.randrange(1, 10))

7

In [ ]:
# to get the size of a variable's memory usage
import sys
x = 10
print(sys.getsizeof(x)) #in bytes

print(sys.getsizeof('Hello World'))

print(sys.float_info.min)

28
60
2.2250738585072014e-308

##Casting

Casting in python is done using constructor functions:

1. int()

2. float()

3. str()

In [ ]:
x = int(35.99)
print(x)

#typecasting doesn't round up anything, it truncates the decimal part

y = round(35.99)
print(y)

35
36

In [ ]:
# you can also use format() or f-strings for strings

#numbers to strings

x = f"{10}"
print(type(x))

# or

y = "{}".format(10)
print(type(y))

<class 'str'>
<class 'str'>

In [ ]:
# you can switch lists into tuples as well

myTuple = (1,2,3,4)
myList = list(myTuple)
print(type(myList))

<class 'list'>

In [ ]:
x = eval("3.14")
y = eval('"Hello World"')
print(x,y)

# not y = eval("Hello World") because it sees it as two separate identifiers

3.14 Hello World

#Day 3 - 12th October

In [ ]:
#slicing with format [Start: stop: step]

x = 'Hello'[::-1]
print(x)
y = 'Hello'[1:4]
print(y)

olleH
ell